</div>
<footer class="row fondoOscuro txtGrisMasClaro d-flex justify-content-between">
    <div id="creditos" class="col-12 col-md-2 mb-3">
        <img id="logoMecenazgo" src="/assets/img/logo_blanco-png.png" alt="">
    </div>
    <div id="creditos" class="col-12 col-md-7">
        <p>
            <strong>Dirección del proyecto</strong> Gabriel Reches.&#9679; Puesta Sonora: Martín Farid y Manuel Cano &#9679; 
             <strong>Cámara y Edición</strong> Nina Reches &#9679; 
             <strong>Poetas lectoras</strong> Rosario Aquebeque, Olivia Milberg, Josefina Rousseaux y Malena Saito &#9679;  <strong>Diseño y programación</strong> Ximena May &#9679; <strong>Agradecimientos</strong> Jorge Freidemberg, Eduardo Mileo, Jorge Aulicino, Gabriela Franco, Silvina Lopez Medin, Rosario Aquebeque, Olivia Milberg, Malena Saito y Josefina Rousseaux.</p>
    </div>
    <div class="col-12 col-md-3">
        <ul class="list-inline">
            <!-- <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li> -->
            <li class="list-inline-item"><a class="direccionMail" href="mailto:mujerirresuelta@gmail.com"><i class="far fa-envelope"></i> mujerirresuelta@gmail.com</a></li>
        </ul>
    </div>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/assets/js/jquery.Cycle2.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script>

</script>
<script src="assets/js/funciones.js"></script>

</html>